@use '../base/variables' as v;

.card {
    background-color: v.$grey-400;
    border-radius: .5rem;
    overflow: hidden;
    color: v.$white;
    padding: 2.2rem;

    &__header {
        display: flex;
        margin-bottom: 1rem;
    }

    &__image {
        border-radius: 50%;
        height: 2rem;

        &--daniel {
            border: 2px solid v.$purple-300;
        }

        &--patrick {
            border: 2px solid v.$purple-500;
        }
    }

    &__title {
        margin-bottom: 1rem;
        line-height: 1.2;
        font-weight: 500;
        font-size: 1.23rem;

        &--jeanette {
            font-weight: 600;
        }

        &--kira {
            font-weight: 600;
        }
    }

    &__text {
        line-height: 1.5;

        &--jeanette {
            font-weight: 500;
            color: v.$grey-400;
        }

        &--kira {
            font-weight: 500;
            color: v.$grey-400;
        }
    }

    &--daniel {
        background-color: v.$purple-500;
    }

    &--jonathan {
        background-color: v.$grey-500;
    }

    &--jeanette {
        background-color: v.$white;
        color: v.$grey-500;
    }

    &--patrick {
        background-color: v.$dark-blue;
    }

    &--kira {
        background-color: v.$white;
        color: v.$grey-500;
    }
}

.user-info {
        padding-left: .8rem;
        
        &__name {
            font-weight: 500;
        }

        &__status {
            font-size: .65rem;
        }
    }

