@use 'variables' as v;

body {
    font-family: v.$font-family;
    font-size: v.$font-size-base;
    background-color: v.$grey-100;
    min-height: 100vh;
    display: grid;
    place-items: center;
}